YOUTUBE_CLIENT_ID=your-google-client-id
YOUTUBE_CLIENT_SECRET=your-google-client-secret
YOUTUBE_REDIRECT_URI=http://127.0.0.1:8000/auth/google/callback/
YOUTUBE_TARGET_CHANNEL_ID=your-youtube-channel-id
APP_TIME_ZONE=Asia/Kathmandu
