# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Django
*.sqlite3
*.log
media/
staticfiles/

# Environment Variables
.env

# VS Code / IDE
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db

# Temporary Files
.tmp/
temp/
tmp/

# Python Build Files
build/
dist/
*.egg-info/

# Coverage / Testing
.coverage
htmlcov/
.pytest_cache/verification_images/
verification_images/
